#timelineContainer {
  background-color: #FFFFFF;
  margin-bottom: 25px;
}

.vis-label {
  font-weight: 700;
}

.vis-item {
  background-color: #D7EBF9 !important;
  border-color: #AED0EA !important;
}

.deploymentPanel {
  width: 650px;
  margin: auto;
}

#deploymentPanelContent {
  display: flex;
  flex-wrap: nowrap;
}

#deploymentCalendar {
  display: inline;
  margin-right: 25px;
}

#deploymentFields {
  display: flex;
  flex-direction: column;
}

#targetField {
  margin-bottom: 20px;
}

#coefficientFields {
  margin-top: 10px;  
}

.selectedCalibration {
  width: 30%;
  margin: auto;
  display: none;
}

.vis-item.recalculationNotRequired {
  background: #ddd !important;
}

.vis-item.recalculationRequired {
  background: #9ffcab !important;
}

.vis-item.cannotRecalculate {
  background: #ff8888 !important;
  font-weight: 700;
}