#timelineContainer {
  background-color: #FFFFFF;
  margin-bottom: 25px;
}

.vis-label {
  font-weight: 700;
}

.vis-item {
  background-color: #D7EBF9;
  border-color: #AED0EA;
}

.deploymentPanel {
  margin: auto;
}
