#timelineContainer {
  background-color: #FFFFFF;
}

.vis-label {
  font-weight: 700;
}

.vis-item {
  background-color: #D7EBF9;
  border-color: #AED0EA;
}

.vis-range {
  cursor: pointer;
}

.timelineDataSet {
  font-weight: 700;
  background-color: #226EA0 !important;
  color: #FFFFFF !important;
}

.goodNewDataSet {
  font-weight: 700;
  background-color: #FFEF96 !important;
}

.badNewDataSet {
  font-weight: 700;
  background-color: #F0D9D9 !important;
}