body.fullPage {
	overflow: hidden;
}

#updateStatus {
  float: right;
  margin-right: 20px;
}

#dataScreenContent {
  margin-top: 30px;
  position: absolute;
  width: 100%;
  height: calc(100% - 30px);
}

#plots {
	width: 100%;
}

#plotLeft {
	width: 100%;
	overflow: hidden;
}

#plotRight {
	width: 100%;
	overflow: hidden;
}

#dataTable {
	width: 100%;
	overflow: hidden;
}

.loading {
	margin-top: 50px;
	background-image: url("#{resource['image/loading.gif']}");
	background-repeat: no-repeat;
	background-position: center;
	height: 100px;
}

.controls {
  position: absolute;
  background: #AAA;
  width: 100%;
  margin: 0px;
  bottom: 0px;
  left: 0px;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  font-weight: bold;
  height: 25px;
}

#plotLeftContent {
	padding-top: 5px;
	width: 100%;
	height: calc(100% - 50px);
}
