body.fullPage {
	overflow: hidden;
}

#updateStatus {
  float: right;
  margin-right: 20px;
}

#dataScreenContent {
  margin-top: 39px;
  position: absolute;
  width: 100%;
  height: calc(100% - 30px);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#plots {
	width: 100%;
}

#plotLeft {
	width: 100%;
	overflow: hidden;
}

#plotRight {
	width: 100%;
	overflow: hidden;
}

#data {
	width: 100%;
	overflow: hidden;
}

.loading {
	margin-top: 50px;
	background-image: url("#{resource['image/loading.gif']}");
	background-repeat: no-repeat;
	background-position: center;
	height: 100px;
}

.controls {
  position: absolute;
  background: #AAA;
  width: 100%;
  margin: 0px;
  bottom: 0px;
  left: 0px;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  font-weight: bold;
}

.plotContent {
	padding-top: 5px;
	overflow: hidden;
}

#plotContainerLeft {
	overflow: hidden;
}

#plotContainerRight {
	overflow: hidden;
}

.selectButton {
  border: 1px solid #CECBC9;
  border-radius: 3px;
  padding: 3px;
  background-image: linear-gradient(0deg, rgb(240,239,238), rgb(255, 255, 255));
  cursor: pointer;
  text-align: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 20px;
  text-align: center;
}

#tableControls {
  height: 40px;
}