#controls {
  display: flex;	
  justify-content: space-around;
}

.columnHeader {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.categoryName {
  text-decoration: underline;	
}

.assigned {
  color: #00F;
  font-weight: 700;
}

.notAssigned {
  color: #000;
  font-weight: 400;
}

/* PrimeFaces Overrides */
.ui-selectonelistbox {
  width: 250px;
}

.ui-selectmanycheckbox label {
  font-weight: 400;
}

