/* noto-sans-regular - latin-ext_latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url("#{resource['fonts/noto-sans-v25-latin-ext_latin-regular.woff2']}") format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("#{resource['fonts/noto-sans-v25-latin-ext_latin-regular.woff']}") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-italic - latin-ext_latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url("#{resource['fonts/noto-sans-v25-latin-ext_latin-italic.woff2']}") format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("#{resource['fonts/noto-sans-v25-latin-ext_latin-italic.woff']}") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-700 - latin-ext_latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url("#{resource['fonts/noto-sans-v25-latin-ext_latin-700.woff2']}") format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("#{resource['fonts/noto-sans-v25-latin-ext_latin-700.woff']}") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: 'Noto Sans', sans-serif !important;
  font-size: 14px;
  background: #F3F3F3;
  margin: 0px;
  overflow-x: hidden;
}

a {
  outline: none;
}

pre {
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  margin: 0px;
}

.contentBox {
  max-width: 600px;
  margin: 40px auto 28px;
  border: 1px solid #DEDEDE;
  padding: 15px;
  background: #FFF;
}

.wideContentBox {
  max-width: 600px !important;
}

h1,h2 {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4 {
  text-decoration: underline;
  margin-top: 12px;
  margin-bottom: 6px;
}

h4:first-child {
  margin-top: 0px;
}

#logoTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 40px;
}

label {
  font-weight: 700;
}

.label {
  font-weight: 700;
}

input {
  border-radius: 3px;
  border: 1px solid #666;
}

input[type="text"].numeric {
  text-align: right;
}

input[type="text"].large {
  font-size: 18px;
}

input.expand {
  width: 100%;
}

textarea {
  font-size: 14px;
}

input[type="submit"], input[type="button"], button {
  display: inline;
  margin-top: 20px;
  padding-top: 1px;
  padding-bottom: 1px;

  border-radius: 7px;
  border: 1px solid #8CD5ED;

  color: #222;
  background: #8CD5ED;

  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  min-width: 100px;
  margin-right: 20px;
  white-space: nowrap;

  outline: none;
}

.ui-spinner-button {
  min-width: 0px !important;
}

.contentList input[type="submit"],
.contentList input[type="button"],
.contentList button {
  margin-top: 0;
}

.buttonPanel.contentList {
  margin-bottom: 10px;
}

input[type="submit"].inline {
    margin-top: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
}

input[type="submit"][disabled="disabled"] {
    background: #ccc;
    color: #999;
    border: 1px solid #aaa;
    cursor: default;
}

.disabledButton {
    background: #ccc;
    color: #999;
    border: 1px solid #aaa;
    cursor: default;
}

.inlineButton {
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

input[type="submit"]:last-of-type, button:last-of-type {
    margin-right: 0px;
}

input.smallButton, button.smallButton {
    margin-top: 0px;
}

.tightIconButton {
  min-width: 0px;
  height: 30px;
}

.tightTextButton {
  height: 30px;
}

.tightTextButton:not(:last-child) {
  margin-right: 5px;
}

.tightTextButton .ui-button-text {
  margin-top: -6px;
}

.highlightButton {
  border: 2px solid #0030FF;
}

.buttonPanel {
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.buttonPanel td {
    text-align: center;
}

form ul {
  list-style: none;
  padding: 0px;
}

form li {
  margin-top: 10px;
}
form li:first-child {
  margin-top: 0px;
}

ul label {
  display: block;
}

ul input {
  display: block;
  width: 100%;
}

#header {
  color: #555;
  position: absolute;
  background: #8CD5ED;
  width: 100%;
  margin: 0px;
  top: 0px;
  left: 0px;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  font-weight: 700;
}

#hiddenData {
  display: none;
}

#content {
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  clear: both;
}

.fullPage {
  overflow: hidden;
}

.statBarCol {
  width: 100px;
  text-align: center;
}

ul.menu {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li.menuitem {
  font-size: 14px;
  color: #555;
  font-weight: 700;
  cursor: pointer;
  padding: 5px 0px 5px 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

li.smallMenuitem {
    font-weight: 700;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
}

li.menuitem:hover, li.smallMenuitem:hover {
  background: #8CD5ED;
}

.popup {
  border: 1px solid black;
  background: #DDE9ED;
  color: black;
  position: absolute;
  margin: auto;
  font-size: 13px;
  padding: 2px;
  border-radius: 4px;
  display: none;
  z-index: 1000;
  box-shadow: 1px 2px 3px #000000;
  font-weight: 700;
}

.popupMenu {
  border: 1px solid black;
  background: white;
  color: black;
  position: absolute;
  margin: auto;
  font-size: 13px;
  padding: 2px;
  border-radius: 4px;
  display: none;
  z-index: 10;
  box-shadow: 1px 2px 3px #000000;
  padding: 5px;
  background: #ddd;
}

.bad {
  color: #FF0000;
}

.notCalibrated {
  color: #AC9326;
}

.questionable {
  color: #FFA42B;
}

.good {
  color: #00C800;
}

.ignore {
  color: #D0D0D0;
}

.assumedGood {
  color: #76D376;
}

.notSet {
  color: #999999;
}

.needsFlag {
  background: #D7D6FF !important;
}

div.fullPage {
  margin-left: 30px;
  margin-right: 30px;
}

.instructions {
  padding: 15px 5px 5px 5px;
  font-style: italic;
  margin-bottom: 15px;
}

.sectionHeader {
  clear: both;
  background: #8CD5ED;
  margin-top: 5px;
  padding: 5px;
  font-weight: 700;
  font-style: italic;
}

.sectionContent {
  padding: 5px;
}

.disabled {
  color: #999 !important;
}

table {
  font-variant-numeric: tabular-nums;
}

table.shrink {
  table-layout: unset;
}

table.noborder {
  border-width: 0px;
}

table.noborder td {
  border-width: 0px;
}

table.form {
  width: 100%;
}

td.labels {
  width: 50%;
  text-align: right;
  padding-right: 10px;
  font-weight: 700;
}

td.labelsNoPad {
  text-align: right;
  padding-right: 10px;
  font-weight: 700;
}

table .numericCol {
  text-align: right !important;
}

table .centreCol {
  text-align: center;
}

table .noWrap {
  white-space: nowrap;
}

table .buttonCol {
  text-align: center;
  width: 40px;
}

.shown {
  display: block;
}

.hidden {
  display: none;
}

#infoPopup {
  height: 20px;
  display: block;
  position: absolute;
  display: none;
}

.infoMessage {
    display: inline;
}

.dialogTitle {
  text-align: center;
  font-size: 16px;
  left: 10px;
  padding-bottom: 20px;
  font-weight: 700;
}

#messageText {
  font-family: 'Inconsolata', monospace;
  font-size: 12px;
}

.scrollable {
    width: 100%;
    height: 400px;
    overflow: scroll;
}

table.rawdata {
    white-space: nowrap;
    background: white;
}

td.disabled {
    font-style: italic;
    color: #888888;
}

tr.header {
    font-weight: 700;
}

.pageTitle {
  margin: auto;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
}

.sectionTitle {
  margin: auto;
  margin-top: 15px;
  text-align: left;
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: underline;
}

.smallHeader {
    font-weight: 700;
    font-size: 15px;
}

hr {
    margin-bottom: 25px;
}

.nowrap {
  white-space: nowrap;
}

.error {
  color: #ff0000;
  font-weight: 700;
}

.info {
  font-style: italic;
}

.errors {
  color: #ff0000;
  font-weight: 700;
  text-align: center;
}

.invisible {
  display: none;
  visibility: hidden;
}

.inlineRadio {
  margin-left: 20px;
}

.listBox {
  margin-top: 5px;
  background: white;
  max-height: 250px;
  overflow: auto;
  border-left: 2px solid #555555;
  border-top: 2px solid #555555;
  border-right: 2px solid #cccccc;
  border-bottom: 2px solid #cccccc;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

table.fileDates {
  text-align: right;
  width: 80%;
  margin: auto;
}

.minorHeading {
  text-decoration: underline;
}

.minimalCentered {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.indent {
  padding-left: 40px;
}

.actionIcon {
  margin-right: 7px;
  width: 25px;
  height: 25px;
}

.actionIconLarge {
  margin-right: 7px;
  width: 30px;
  height: 30px;
}

.textActionIcon {
  margin-left: 5px;
  width: 18px;
  height: 18px;
}

.inputForm {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.inputLabels {
  text-align: right;
  vertical-align: middle;
  white-space: nowrap;
}

.inputInputs {
  width: 100%;
}

.inputFormInput {
  width: 95%;
}

.errorBox {
  color: #B94A48;
  background-color: #F2DEDE;
  border-color: #EED3D7;
  border: 1px solid;
  margin: 0 5px;
  padding: 2px 5px;
  border-radius: 6px;
  display: none;
}

.flexSet {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.flexSet .nowrap {
  flex-wrap: nowrap;
}

.flexSet:last-child {
  margin-bottom: 0px;
}

.flexSetItem {
  margin-right: 8px;
}

.flexSetItem:last-child {
  margin-right: 0px;
}

.flexSetItemGrow {
  flex-grow: 1000;
}

.flexSetItemShrink {
  flex-shrink: 1000;
}

.dialogSection {
  margin-top: 15px;
}

/* Used when h:panelGrid doesn't do the job well enough */
.dialogTable {

}

table.dialogTable td.dialogTableCell {
  padding-right: 20px;
}

.variableText {
  display: inline;
}

.codeLine {
  margin: 5px 0px 5px 10px;
  font-family: 'Inconsolata', monospace;
}

.pageBlock {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.centeredCell {
  text-align: center !important;
}

.rightCell {
  text-align: right !important;
}

.dateTimeCell {
  text-align: right !important;
  width: 170px;
}

.note {
  color: #888888;
  font-style: italic;
}

.pageTitle {
  margin: auto;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
}

.deleteIcon {
  background-image: url("#{resource['image/x-red.svg']}");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: -4px;
  cursor: pointer !important;
}

/* PrimeFaces overrides */
.ui-widget {
  font-family: 'Noto Sans', sans-serif !important;
}

.ui-state-disabled {
  opacity: 0.3 !important;
}

.ui-button.ui-state-active {
  background: #b5dafc !important;
}

.lightButton {
  background: #b5dafc !important;
}

.ui-panel-content td {
  vertical-align: middle;
}

.ui-steps.custom .ui-steps-item {
  height: 30px;
}

.ui-steps.custom .ui-menuitem-link {
  padding: 5px 0px 0px 0px;
}

.ui-steps.custom .ui-steps-number {
  display: none;
}

.ui-steps.custom .ui-state-highlight {
  font-weight: 700;
}

.ui-steps.custom .ui-state-default {
  font-weight: 700;
}

.ui-tabs .ui-tabs-nav li a {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0em;
}

.ui-tabs .ui-tabs-nav li a:first-of-type {
  padding-left: 1em;
}

.ui-tabs .ui-tabs-nav li a:last-of-type {
  padding-right: 1em;
}

.ui-tabs .ui-tabs-nav li a.clickable {
  cursor: pointer;
}

.ui-datatable shrink {
  width: unset;
}

.ui-datatable td {
  padding: 8px !important;
}

.ui-datatable th {
  padding-left: 8px !important;
  padding-right: 8px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.ui-toolbar {
  padding-top: 2px !important;
}

.hasDatepicker {
  text-align: center !important;
}

.ui-datepicker td {
  padding: 0px !important;
}

/*
  Fix for columns in scrollable dataTables
  For some reason the table header is repeated, so we
  hide the clone.
 */
.ui-datatable-scrollable-theadclone {
  display: none;
}

@keyframes rowFlash {
    0% {background-color: #fff;}
   25% {background-color: #fd0;}
   50% {background-color: #fff;}
   75% {background-color: #fd0;}
  100% {background-color: #fff;}
}

form.inline {
  display: inline;
}

/*****************************************
* Default dialog style
*****************************************/
.messageDialog>.ui-dialog-content>.ui-scrollpanel {
  padding: 10px
}
