#plots {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.selectModeButtons .ui-button:nth-child(1) {
  background-image: url("#{resource['image/zoom_button.svg']}") !important;
  background-size: 20px;
  background-repeat: no-repeat;
  width: 46.77px !important;
  height: 29.22px !important;
}

.selectModeButtons .ui-button:nth-child(2) {
  background-image: url("#{resource['image/mark_button.svg']}") !important;
  background-size: 20px;
  background-repeat: no-repeat;
  width: 46.77px !important;
  height: 29.22px !important;
}
