/*********************************
 *
 * COMMON STUFF
 *
 */

@import 'https://fonts.googleapis.com/css?family=Inconsolata:400';

#content {
  margin-top: 10px !important;
}

#cancel {
	margin-top: 0px;
}

#progress {
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 25px;
}

#newInstrumentContent {
	margin-left: 50px;
	margin-right: 50px;
}

.ui-steps .ui-steps-item {
    width: 25%;
}

#instrumentName {
	margin: auto;
	text-align: center;
	font-size: 2em;
	font-weight: 700;
}


#nameForm {
	padding-top: 20px;
	margin: auto;
	text-align: center;
	height: 70px;
}

.instrumentName {
	width: 30%;
	font-size: 1.5em;
}

.instrumentNameMessage {
	width: 50%;
	margin: 10px auto 0px auto !important;
	height: 18px;
}

/*********************************
 *
 * FILE UPLOAD
 *
 */

#uploadFormContent {
	height: 600px;
}

#fileFormatSpec {
	margin-top: 30px;
	width: 95%;
	height: 400px;
}

#fileFormatSpecContent {
	display: grid;
	grid-template-columns: auto 400px;
}

#fileContent {
	overflow: scroll;
	height: 400px;
	margin-right: 40px;
	border: 1px solid black;
	background-color: #FFF;
}

.header {
	color: #DD0000;
}

.columnHeading {
	color: #00AAFF;
}

/*********************************
 *
 * SENSOR ASSIGNMENT
 *
 */
 #assignmentsList {
 	display: flex;
 	flex-wrap: wrap;
 }
 
.assignmentListEntry {
	--entry_color: #2779AA;
	display: flex;
	border: 2px solid black;
	border-radius: 5px;
	margin: 4px;
	border-color: var(--entry_color);
	background-color: var(--entry_color);
	color: var(--entry_color);
	width: 300px;
}

.assignmentRequired {
	--entry_color: #FF0000;
}

.assignmentLabel {
	display: inline;
	background-color: white;
	padding: 0px 4px 0px 1px;
	border-radius: 3px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.assignmentCount {
	text-align: center;
	position: relative;
	display: inline;
	right: 0px;
	color: white;
	width: 35px;
}