/*
 *************************
 * Override DataTables classes
 *************************
 */
table.dataTable.compact td {
  padding: 0px !important;
}

.plotPageCell {
  padding: 4px;
}

.oddColGroupOddRow {
  background-color: #ffffff;
}

.oddColGroupEvenRow {
  background-color: #f6f6ff;
}

.evenColGroupOddRow {
  background-color: #f6f6ff;
}

.evenColGroupEvenRow {
  background-color: #e9e9f9;
}

/* Force width of fixed left columns */
.DTFC_LeftBodyLiner {
  width: 280px !important;
}

/*
 *************************
 * Page layout
 *************************
 */
.plotPageHeader {
  height: 27px;
  color: #2779AA !important;
  font-weight: bold;
}

.plotPageFooter {
  position: absolute;
  bottom: 0px;
  height: 43px;
  width: 100%;
  color: #2779AA !important;
  font-weight: bold;
  padding-left: 10px !important;
}

.plotPageContent {
  position: absolute;
  top: 35px;
  width: 100%;
  height: calc(100% - 73px); /* Also change in plotPage.js */
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.plotContainer {
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}

/* jQuery splitter overrides */
.splitter_panel .vsplitter {
    background: url("#{resource['image/primefaces_gradient_vertical.png']}") #E4F0F7 repeat-y;
    background-size: 7px 1px;
    cursor: col-resize;
    z-index:900;
    width: 7px;
}

.splitter_panel .hsplitter {
    background: url("#{resource['image/primefaces_gradient_horizontal.png']}") #E4F0F7 repeat-x;
    background-size: 1px 7px;
    cursor: row-resize;
    z-index: 800;
    height: 10px;
}

.clearSelectionButton {
  background-image: url("#{resource['image/delete_button.svg']}") !important;
  background-size: cover;
  margin-left: -13px !important;
  margin-top: -13px !important;
  width: 25px !important;
  height: 25px !important;
  margin-left: -13px !important;
  margin-top: -13px !important;
}


/*
 *************************
 * Table
 *************************
 */
td.selected > div {
  background-color: #FFFF00 !important;
}

table.dataTable tbody tr.selected > * {
  box-shadow: #FFFF00E6 0px 0px 0px 9999px inset;
  color: #000000;
}

.interpolated {
  font-style: italic;
}

/*
 *************************
 * Plots
 *************************
 */
.plot {
  position: absolute;
  top: 0px;
  left: 0px;
}

.y2Plot {
  z-index: 10;
}

.dataPlot {
  z-index: 40;
}

.flagPlot {
  z-index: 20;
}

.selectionPlot {
  z-index: 30;
}

.plotLabels {
  position: absolute;
  bottom: 36px;
  right: 0px;
  padding: 2px;
  background: #DDD;
  margin: 0px;
}

/* Plot footer controls */
:root {
  --plotFooterButtonSize: 35px;
}

.plotModeButtons .ui-button:nth-child(1) {
  background-image: url("#{resource['image/plot_button.svg']}") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 25px !important;
  width: var(--plotFooterButtonSize);
  height: var(--plotFooterButtonSize);
}

.plotModeButtons .ui-button:nth-child(2) {
  background-image: url("#{resource['image/globe_button.svg']}") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 25px !important;
  width: var(--plotFooterButtonSize);
  height: var(--plotFooterButtonSize);
}

.plotFooterButton {
  width: var(--plotFooterButtonSize) !important;
  height: var(--plotFooterButtonSize) !important;
  margin-left: 10px !important;
}

.plotFooterButton.ui-selectbooleanbutton {
  top: -10px;
}

.plotFooterButtonContainer {
  display: inline;
  position:relative;
}

.plotFooterButtonContainer .ui-button {
  background: #ffffff;
}

.plotFooterButtonContainer .ui-button.ui-state-hover {
  background: #e6e9ec;
}

/* These buttons are sometimes mixed in with PrimeFaces stuff,
   which breaks the layout. This fixes the CSS when PF stuff is
   present (i.e. we aren't the only thing in the plot footer */
.plotFooterButtonContainer:not(:only-child) {
  top: 2px !important;
}

.selectVariableButton {
  background-image: url("#{resource['image/select_button.svg']}") !important;
  background-size: cover;
  margin-left: -13px !important;
  margin-top: -13px !important;
  width: 25px !important;
  height: 25px !important;
}

.zoomOutButton {
  background-image: url("#{resource['image/zoomout_button.svg']}") !important;
  background-size: cover;
  margin-left: -13px !important;
  margin-top: -13px !important;
  width: 25px !important;
  height: 25px !important;
}

.hideFlagsButton {
  background-image: url("#{resource['image/noflags.svg']}") !important;
  background-size: cover;
  margin-left: -13px !important;
  margin-top: -13px !important;
  width: 25px !important;
  height: 25px !important;
}

.selectModeButtons {
  margin-left: 10px;
}

.selectModeButtons .ui-button:nth-child(1) {
  background-image: url("#{resource['image/zoom_button.svg']}") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 25px !important;
  width: var(--plotFooterButtonSize);
  height: var(--plotFooterButtonSize);
}

.selectModeButtons .ui-button:nth-child(2) {
  background-image: url("#{resource['image/mark_button.svg']}") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 25px !important;
  width: var(--plotFooterButtonSize);
  height: var(--plotFooterButtonSize);
}

/* Variables Dialog */
#variablesList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.variable {
  display: flex;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  height: 18px;
}

.variable:last-of-type {
  margin-bottom: 30px;
}

.singleVariable {
  margin-bottom: 15px;
}

.varName {
  font-style: italic;
  padding-right: 5px;
  flex-grow: 1;
  white-space: nowrap;
}

.variableGroup {
  margin-left: 10px;
}

.variableGroup:last-of-type {
  margin-bottom: 30px;
}

.varGroupName {
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 10px;
  height: 18px;
  white-space: nowrap;
}

.varGroupMember {
  text-indent: 15px;
}

.variableControls {
  display: flex;
  align-content: left;
  margin-left: 5px;
}

.axisButton {
  font-size: 12px !important;
  width: 16px;
  height: 16px;
  position: relative;
  margin-right: 8px !important;
  margin-top: 5px !important;
}

.wideAxisButton {
  font-size: 12px !important;
  width: 24px;
  height: 16px;
  position: relative;
  margin-top: 5px !important;
}

.noAxisButton {
  width: 20px;
  height: 16px;
}

.wideNoAxisButton {
  width: 28px;
  height: 16px;
}

.ui-selectbooleanbutton .ui-button-text {
  margin-left: -12px;
  margin-top: -10px;
}

.varInfo {
  padding-right: 4px;
  font-size: 0.8em;
  margin-top: 4px;
}

.colorScaleContainer {
  height: 30px;
}

#selectedRowsCountDisplay {
  margin-right: 5px;
}

#qcControls .tightIconButton {
  top: 6px;
}

#qcMessage {
  margin-top: 6px;
}
