/*
 *************************
 * Page layout
 *************************
 */
.plotPageHeader {
  height: 20px;
  color: #2779AA;
}

.plotPageFooter {
  position: absolute;
  bottom: 0px;
  height: 30px;
  width: calc(100% - 8px);
  color: #2779AA;
}

.plotPageContent {
  position: absolute;
  top: 35px;
  width: 100%;
  height: calc(100% - 73px); /* Also change in plotPage.js */
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.plotContainer {
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}

/* jQuery splitter overrides */
.splitter_panel .vsplitter {
    background: url("#{resource['image/primefaces_gradient_vertical.png']}") #E4F0F7 repeat-y;
    background-size: 7px 1px;
    cursor: col-resize;
    z-index:900;
    width: 7px;
}

.splitter_panel .hsplitter {
    background: url("#{resource['image/primefaces_gradient_horizontal.png']}") #E4F0F7 repeat-x;
    background-size: 1px 7px;
    cursor: row-resize;
    z-index: 800;
    height: 10px;
}

.clearSelectionButton {
  background-image: url("#{resource['image/delete_button.svg']}") !important;
  background-size: cover;
  margin-left: -13px !important;
  margin-top: -13px !important;
  width: 25px !important;
  height: 25px !important;
  margin-left: -13px !important;
  margin-top: -13px !important;
}


/*
 *************************
 * Table
 *************************
 */
td.selected {
  background-color: #FFFF00 !important;
}

/*
 *************************
 * Plots
 *************************
 */
.plot {
  position: absolute;
  top: 0px;
  left: 0px;
}

.dataPlot {
  z-index: 100;
}

.flagPlot {
  z-index: 10;
}

.selectionPlot {
  z-index: 50;
}

.plotLabels {
  position: absolute;
  bottom: 36px;
  right: 0px;
  padding: 2px;
  background: #DDD;
  margin: 0px;
}

/* Plot footer controls */
.plotModeButtons .ui-button:nth-child(1) {
  background-image: url("#{resource['image/plot_button.svg']}") !important;
  background-size: 20px;
  background-repeat: no-repeat;
  width: 46.77px !important;
  height: 29.22px !important;
}

.plotModeButtons .ui-button:nth-child(2) {
  background-image: url("#{resource['image/globe_button.svg']}") !important;
  background-size: 20px;
  background-repeat: no-repeat;
  width: 46.77px !important;
  height: 29.22px !important;
}

.plotFooterButtonContainer {
  display: inline;
  position:relative;
}

/* These buttons are sometimes mixed in with PrimeFaces stuff,
   which breaks the layout. This fixes the CSS when PF stuff is
   present (i.e. we aren't the only thing in the plot footer */
.plotFooterButtonContainer:not(:only-child) {
  top: -10px !important;
}

.selectVariableButton {
  background-image: url("#{resource['image/select_button.svg']}") !important;
  background-size: cover;
  margin-left: -13px !important;
  margin-top: -13px !important;
  width: 25px !important;
  height: 25px !important;
}

.zoomOutButton {
  background-image: url("#{resource['image/zoomout_button.svg']}") !important;
  background-size: cover;
  margin-left: -13px !important;
  margin-top: -13px !important;
  width: 25px !important;
  height: 25px !important;
}

.selectModeButtons .ui-button:nth-child(1) {
  background-image: url("#{resource['image/zoom_button.svg']}") !important;
  background-size: 20px;
  background-repeat: no-repeat;
  width: 46.77px !important;
  height: 29.22px !important;
}

.selectModeButtons .ui-button:nth-child(2) {
  background-image: url("#{resource['image/mark_button.svg']}") !important;
  background-size: 20px;
  background-repeat: no-repeat;
  width: 46.77px !important;
  height: 29.22px !important;
}

/* Variables Dialog */
#variablesList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.variable {
  display: flex;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px;
  height: 18px;
}

.variable:last-of-type {
  margin-bottom: 30px;
}

.singleVariable {
  margin-bottom: 15px;
}

.varName {
  font-style: italic;
  padding-right: 5px;
  flex-grow: 1;
  white-space: nowrap;
}

.variableGroup {
  margin-left: 10px;
}

.variableGroup:last-of-type {
  margin-bottom: 30px;
}

.varGroupName {
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 10px;
  height: 18px;
  white-space: nowrap;
}

.varGroupMember {
  text-indent: 15px;
}

.variableControls {
  display: flex;
  align-content: center;
  margin-left: 5px;
}

.axisButton {
  font-size: 12px !important;
  width: 16px;
  height: 16px;
  position: relative;
}

.noAxisButton {
  width: 19px;
  height: 16px;
}

.ui-selectbooleanbutton .ui-button-text {
  margin-left: -8px;
  margin-top: -3px;
}
