#groupTables {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.sensorGroup {
  flex: 0 1;
}

.addButtonContainer {
  flex: 0 1;
  margin-left: 10px;
  margin-right: 10px;
}

.addButton {
  min-width: 0px;
}

.groupName {
  font-weight: bold;
  font-size: 1.25em;
  text-align: center;
}

.groupTable {
  width: auto !important;
}

.sensorName {
  white-space: nowrap;
}

.dropTarget {
  border: 2px solid #dddddd;
}

.sensorGroupHover {
  border: 2px solid #2779aa;
}