.gmt*

/bin/
.classpath
.project
.settings
.DS_Store
.metadata
/quince.setup*
!/quince.setup.default
**/*.sqlite
**/__pycache__
.pydevproject
**/*.log

# Ignore build-files from gradle. Make sure gradle-wrapper.jar is not ignored
/.gradle/
/build/
!gradle-wrapper.jar

# Misc stuff from python exporter
**/*.db
WebApp/WebContent/resources/python/export/DNT/
WebApp/WebContent/resources/python/export/latest/
WebApp/WebContent/resources/python/export/log/
WebApp/WebContent/resources/python/export/tmp/
WebApp/WebContent/resources/python/export/oap_metadata_templates/
**/*.nc

WebApp/WebContent/resources/python/export/index_monthly.txt

WebApp/WebContent/resources/python/export/monthly/stations.rdf

WebApp/WebContent/resources/python/export/config_carbon.toml

WebApp/WebContent/resources/python/export/config_copernicus.toml

WebApp/WebContent/resources/python/export/config_quince.toml

WebApp/WebContent/resources/python/export/index_latest.txt
