.gmt*

/bin/
.classpath
.project
.settings
.DS_Store
.metadata
/quince.setup*
!/quince.setup.default
**/*.sqlite
**/__pycache__
.pydevproject
**/*.log

# Ignore build-files from gradle. Make sure gradle-wrapper.jar is not ignored
/.gradle/
/build/
!gradle-wrapper.jar
