.gmt*

/bin/
.classpath
.project
.settings
.DS_Store
.metadata
/quince.setup*
!/quince.setup.default
**/*.sqlite
**/__pycache__
.pydevproject
**/*.log

# Ignore build-files from gradle. Make sure gradle-wrapper.jar is not ignored
/.gradle/
/build/
!gradle-wrapper.jar

# Misc stuff from python exporter
**/*.db
external_scripts/export/DNT/
external_scripts/export/latest/
external_scripts/export/log/
external_scripts/export/tmp/
external_scripts/export/oap_metadata_templates/
**/*.nc

external_scripts/export/index_monthly.txt

external_scripts/export/monthly/stations.rdf

external_scripts/export/config_carbon.toml

external_scripts/export/config_copernicus.toml

external_scripts/export/config_quince.toml

external_scripts/export/index_latest.txt
