[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"
tabulate = "*"
requests = "*"
pysftp = "*"
imapclient = "*"
pandas = "*"
netcdf4 = "*"
numpy = "*"
slacker = "*"

[dev-packages]

[requires]
python_version = "3"
