body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  background: #F3F3F3;
  margin: 0px;
  overflow-x: hidden;
}

#loginbox {
  max-width: 400px;
  margin: 40px auto 28px;
  border: 1px solid #DEDEDE;
  padding: 15px;
  background: #FFF;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

label {
  font-weight: bold;
}

input {
  border-radius: 3px;
  border: 1px solid #666;
  font-size: 18px;
}

input[type="text"].numeric {
  text-align: right;
}

input.expand {
  width: 100%;
}

input[type="submit"] {
  display: block;
  margin-top: 20px;
  padding-top: 3px;
  padding-bottom: 3px;

  border-radius: 7px;
  border: 1px solid #8CD5ED;

  color: #555;
  background: #8CD5ED;

  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

button {
  display: block;
  margin-top: 20px;
  padding-top: 3px;
  padding-bottom: 3px;

  border-radius: 7px;
  border: 1px solid #8CD5ED;

  color: #555;
  background: #8CD5ED;

  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

button.right {
  float: right;
  margin-bottom: 10px;
}

form ul {
  list-style: outside none none;
}

form li {
  margin-top: 10px;
}
form li:first-child {
  margin-top: 0px;
}

ul label {
  display: block;
}

ul input {
  display: block;
  width: 100%;
}

#header {
  color: #555;
  position: absolute;
  background: #8CD5ED;
  width: 100%;
  margin: 0px;
  top: 0px;
  left: 0px;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  font-weight: bold;
}

#userSettings {
  float: right;
  margin-right: 20px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#content {
  margin-top: 40px;
  position: relative;
  clear: both;
}

table {
  border-collapse: collapse;
}

th {
  background: #8CD5ED;
  text-align: left;
  padding: 2px 5px 2px 5px;
}

tr.link {
  cursor: pointer;
}

tr.fileList {
  border-bottom: 1px solid black;
}

.numericCol {
  text-align: right;
}

td {
  padding: 3px 5px 3px 5px;
}

.fullpage {
  width: 95%;
  margin: auto;
}

td.alert {
  color: red;
  font-weight: bold;
}

.statBarCol {
  width: 100px;
  text-align: center;
}

canvas.statBar {
  height: 16px;
  width: 100%;
  cursor: pointer;
}

#userSettingsMenu {
  position: absolute;
  top: 29px;
  right: 0px;
  padding: 0px;
  width: 120px;
  height: 94px;
  border-style: solid;
  border-color: #8CD5ED;
  background: #DDE9ED;
  z-index: 10;
  overflow: hidden;
  box-shadow: none;
  border-width: 0px;
  height: 0px;
  transition: height 0.075s linear, box-shadow 0.075s linear, border-width 0.075s linear;
}

#userSettingsMenu.visible {
  border-width: 2px;
  box-shadow: -4px 6px 8px #000000;
  height: 85px;
}

ul.menu {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li.menuitem {
  font-size: 14px;
  color: #555;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 0px 5px 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

li.menuitem:hover {
  background: #8CD5ED;
}

.popup {
  border: 1px solid black;
  background: #DDE9ED;
  color: black;
  position: absolute;
  margin: auto;
  font-size: 13px;
  padding: 2px;
  border-radius: 4px;
  display: none;
  z-index: 10;
  box-shadow: 1px 2px 3px #000000;
  font-weight: bold;
}

.bad {
  color: #FF0000;
}

.questionable {
  color: #D8B100;
}

.good {
  color: #00C800;
}

.ignored {
  color: #323232;
}

.assumedGood {
  color: #76D376;
}

.needsFlagging {
  color: #B4B4B4;
}

.sectionHeader {
  background: #8CD5ED;
}

div.fullPage {
  width: 800px;
  margin: auto;
}

.instructions {
  padding: 15px 5px 5px 5px;
  font-style: italic;
}

.sectionHeader {
  clear: both;
  margin-top: 5px;
  padding: 5px;
  font-weight: bold;
  font-style: italic;
}

.sectionContent {
  padding: 5px;
}

table.sensorDetails {
  width: 100%;
}

td.labels {
  width: 45%;
}

table.conversionDetails {
  transition: display 1s linear;
}

.conversionDetails tr:last-child td {
  padding-bottom: 10px;
}

.sensorDetailsWrapper {
  width: 100%;
  border-bottom: 1px solid black;
}

.shown {
  display: block;
}

.hidden {
  display: none;
}

#plots {
  margin-top: 30px;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

#data {
  width: 100%;
  overflow: hidden;
  clear: both;
}

#plotleft {
  float: left;
  background: #f00;
  height: 100%;
  width: 50%;
}

#plotright {
  background: #ff0;
  width: 100%;
  height: 100%;
  padding-left: 7px;
}
