[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack_sdk = "*"
toml = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
python-dateutil = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3"
